<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="appSettings.user.config">
    <add key="WeatherApiKey" value=""/>
    <add key="QuotaUsername" value=""/>
    <add key="QuotaPassword" value=""/>
    <add key="BudgetApiKey" value=""/>
    <add key="BudgetCategories" value=""/> <!-- Category1Name,YNAB-API-BUDGET-ID,YNAB-API-CATEGORY-ID|Category2Name,YNAB-API-BUDGET-ID,YNAB-API-CATEGORY-ID|etc -->
    <add key="BrowserDocumentContent" value=""/> <!-- &lt;html&gt;&lt;body&gt;Example content.&lt;/body&gt;&lt;/html&gt; — Note: Instances of "r=___" are replaced with "r={DateTime.Now.Ticks}" -->
    <add key="WeatherCoordinate" value=""/> <!-- 35,-89 -->
    <add key="DaysUntilEvents" value=""/> <!-- Mom's Birthday|0815;Tax Day 2020|20200415 -->
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>